<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.edu.xidian.bigdataplatform.mybatis.mapper.SearchMapper">
    <resultMap id="freightSourceResultMap"
               type="cn.edu.xidian.bigdataplatform.mybatis.entity.search.FreightSource">
        <id column="id" property="id"/>
        <result column="depart" property="depart"/>
        <result column="destination" property="destination"/>
        <result column="distance" property="distance"/>
        <result column="published" property="published"/>
        <result column="freight_description" property="freightDescription"/>
        <result column="freight_type" property="freightType"/>
        <result column="transport_type" property="transportType"/>
        <result column="validity" property="validity"/>
        <result column="remark" property="remark"/>
        <result column="weight" property="weight"/>
        <result column="volume" property="volume"/>
    </resultMap>

    <select id="queryFreightByDepartAndDestination" resultMap="freightSourceResultMap">
        select *
        from logistics.freight_source
        where depart like CONCAT('%', #{departParam}, '%')
          and destination like CONCAT('%', #{destinationParam}, '%')
          and distance like CONCAT('%', #{distanceParam}, '%')
          and freight_description like CONCAT('%', #{freightDescParam}, '%')
          and transport_type like CONCAT('%', #{transportTypeParam}, '%');
    </select>
    <select id="queryLimited" resultMap="freightSourceResultMap">
        select * from logistics.freight_source ORDER BY id LIMIT 100;
    </select>

</mapper>